html, body {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  font-size: 20px;
}

main {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 55vw;
  max-height: 100vh;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #f2f0f0;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0 auto;
  max-width: 50%;
  margin-top: 5vh;
  font-size: 3em;
  font-weight: 700;
}

/* Start Section */
.intro {
  text-align: center;
}

/* Quiz Section */
#js-question-quantity {
  display: block;
  margin: 10px auto;
}


/* Overwrite boostrap defaults */
.score {
  font-size: 1em;
  background-color: none;
}

#progress2 {
  height: 1.5rem;
  font-size: 1.2rem;
  background-color: #f2f0f0;
}

ul {
  padding-left: 0;
}

/* Button Styling */
.start {
  display: block;
  margin: 20px auto;
}

.submit-btn {
  margin-top: 10px;
}

.radio {
  width: 18px;
  height: 18px;
}


/* Hidden sections on page load */
.quiz-status, .outro {
  display: none;
}

.answer-item {
  list-style-type: none;
}