html, body {
  /* background:
  linear-gradient(
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0.2)),
    url(https://cdn.pixabay.com/photo/2016/01/04/17/04/pink-1121216_960_720.jpg) no-repeat center center fixed;
     */
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
  font-size: 20px;
}

main {
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 55vw;
  max-height: 100vh;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #f2f0f0;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0 auto;
  max-width: 50%;
  margin-top: 5vh;
  font-size: 3em;
  font-weight: 700;
}


/* Overwrite boostrap defaults for question and score count display */
.score {
  font-size: 1em;
  background-color: none;
}

#progress2 {
  height: 1.5rem;
  font-size: 1.2rem;
  background-color: #f2f0f0;
}


.intro {
  text-align: center;
}
#js-question-quantity {
  display: block;
  margin: 10px auto;
}
/* Button Styling */
.start {
  /* width: 20%;
  padding-left: 40%;
  padding-right: 40%; */
  display: block;
  margin: 20px auto;
}

.submit-btn {
  margin-top: 10px;
}

/* Hidden sections on page load */
.quiz-status, .outro {
  display: none;
}

.answer-item {
  list-style-type: none;
}